# FULL PATH WHERE THE RAW CORE AND B DATA FILES ARE STORED (before WMO) - Please keep ARGO architecture
DIR_RAW_DATA=full_path_where_raw_core_and_b_file_are_stored

# FULL PATH OF THE WORKING AND ADJUSTED DATA FILES
DIR_OUT_DATA=full_path_where_directory_WORK_and_DM_will_be_stored